In [1]:
import pandas as pd

matches = pd.read_csv("../../data/Match_Info.csv");

In [2]:
matches.head()

,match_number,team1,team2,match_date,toss_winner,toss_decision,result,eliminator,winner,player_of_match,venue,city,team1_players,team2_players
0,335988,Deccan Chargers,Delhi Daredevils,2008-04-22,Deccan Chargers,bat,Win,NaN,Delhi Daredevils,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",Hyderabad,"AC Gilchrist, Y Venugopal Rao, VVS Laxman, A S...","G Gambhir, V Sehwag, S Dhawan, Shoaib Malik, K..."
1,419115,Royal Challengers Bangalore,Rajasthan Royals,2010-03-18,Royal Challengers Bangalore,field,Win,NaN,Royal Challengers Bangalore,JH Kallis,M Chinnaswamy Stadium,Bangalore,"MK Pandey, JH Kallis, RV Uthappa, V Kohli, R D...","NV Ojha, MJ Lumb, DR Martyn, AA Jhunjhunwala, ..."
2,1426297,Gujarat Titans,Chennai Super Kings,2024-05-10,Chennai Super Kings,field,Win,NaN,Gujarat Titans,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,"S Sandeep Warrier, B Sai Sudharsan, Shubman Gi...","TU Deshpande, AM Rahane, R Ravindra, RD Gaikwa..."
3,335982,Royal Challengers Bangalore,Kolkata Knight Riders,2008-04-18,Royal Challengers Bangalore,field,Win,NaN,Kolkata Knight Riders,BB McCullum,M Chinnaswamy Stadium,Bangalore,"R Dravid, W Jaffer, V Kohli, JH Kallis, CL Whi...","SC Ganguly, BB McCullum, RT Ponting, DJ Hussey..."
4,981019,Royal Challengers Bangalore,Sunrisers Hyderabad,2016-05-29,Sunrisers Hyderabad,bat,Win,NaN,Sunrisers Hyderabad,BCJ Cutting,M Chinnaswamy Stadium,Bangalore,"CH Gayle, V Kohli, AB de Villiers, KL Rahul, S...","DA Warner, S Dhawan, MC Henriques, Yuvraj Sing..."

In [3]:
matches.columns

Index(['match_number', 'team1', 'team2', 'match_date', 'toss_winner',
       'toss_decision', 'result', 'eliminator', 'winner', 'player_of_match',
       'venue', 'city', 'team1_players', 'team2_players'],
      dtype='object')

1. Drop match_number
2. map team1 and team2
3. macth_date -> convert to correct format
4. toss_winne r-> map to team id
5. result -> we have winner team name in winner column -> result can be used for match_outcome_enum
6. map player of the match
7. drop team1_players and team2 players

In [4]:
matches.drop(columns=['match_number'], inplace=True)

In [5]:
team = pd.read_csv("../../data/teams_info.csv");

In [6]:
team.head()

,team_name,url,espn_id
0,Mumbai Indians,https://assets.iplt20.com/ipl/MI/Logos/Logoout...,4346
1,Chennai Super Kings,https://assets.iplt20.com/ipl/CSK/logos/Logoou...,4343
2,Delhi Capitals,https://assets.iplt20.com/ipl/DC/Logos/LogoOut...,4347
3,Kolkata Knight Respn_iders,https://assets.iplt20.com/ipl/KKR/Logos/Logoou...,4341
4,Punjab Kings,https://assets.iplt20.com/ipl/PBKS/Logos/Logoo...,4342

In [7]:
team.columns

Index(['team_name', 'url', 'espn_id'], dtype='object')

we have drop espn_id and rename the columns

In [8]:
team.rename(columns={
    'team_name': 'name',
    'url': 'logo_url'
}, inplace=True)

In [9]:
team.drop(columns=['espn_id'], inplace=True)

In [10]:
team.shape

(19, 2)

In [11]:
team.columns

Index(['name', 'logo_url'], dtype='object')

In [12]:
team.to_csv('cleaned_team.csv', index=False)

In [13]:
players = pd.read_csv("../../data/2024_players_details.csv");

In [14]:
players.head()

,ID,Name,longName,battingName,fieldingName,imgUrl,dob,battingStyles,longBattingStyles,bowlingStyles,longBowlingStyles,playingRoles,espn_url
0,95094,RD Gaikwad,Ruturaj Gaikwad,RD Gaikwad,Gaikwad,"https://img1.hscicdn.com/image/upload/f_auto,t...",31/1/1997,rhb,right-hand bat,ob,right-arm offbreak,ob,https://www.espncricinfo.com/cricketers/rutura...
1,46597,MM Ali,Moeen Ali,MM Ali,Ali,"https://img1.hscicdn.com/image/upload/f_auto,t...",18/6/1987,lhb,left-hand bat,ob,right-arm offbreak,ob,https://www.espncricinfo.com/cricketers/moeen-...
2,116328,Aravelly Avanish,Aravelly Avanish,Aravelly Avanish,Aravelly Avanish,"https://img1.hscicdn.com/image/upload/f_auto,t...",2/6/2005,lhb,left-hand bat,Na,Na,NaN,https://www.espncricinfo.com/cricketers/aravel...
3,62022,DL Chahar,Deepak Chahar,DL Chahar,Chahar,"https://img1.hscicdn.com/image/upload/f_auto,t...",7/8/1992,rhb,right-hand bat,rm,right-arm medium,rm,https://www.espncricinfo.com/cricketers/deepak...
4,80607,TU Deshpande,Tushar Deshpande,TU Deshpande,Deshpande,"https://img1.hscicdn.com/image/upload/f_auto,t...",15/5/1995,lhb,left-hand bat,rm,right-arm medium,rm,https://www.espncricinfo.com/cricketers/tushar...

Drop - ID, Name, battingStyles, bowlingStyles, playingroles, espn_url
Longname - will be name for our dataset
dob - is in date/month/year - is there need to change this format
We have to rename the columns too accordong to database table also

In [15]:
players.columns

Index(['ID', 'Name', 'longName', 'battingName', 'fieldingName', 'imgUrl',
       'dob', 'battingStyles', 'longBattingStyles', 'bowlingStyles',
       'longBowlingStyles', 'playingRoles', 'espn_url'],
      dtype='object')

In [16]:
players.drop(columns=['ID', 'Name', 'battingStyles', 'bowlingStyles', 'playingRoles', 'espn_url'], inplace=True)

In [17]:
players.rename(columns={
    'longName': 'name',
    'battingName': 'batting_name',
    'fieldingName': 'fielding_name',
    'imgUrl': 'img_url',
    'dob': 'dob',
    'longBattingStyles': 'batting_style',
    'longBowlingStyles': 'bowling_style'
}, inplace=True)

In [18]:
players['dob'] = pd.to_datetime(players['dob'], dayfirst=True).dt.date

In [19]:
players.shape

(261, 7)

In [20]:
players.columns

Index(['name', 'batting_name', 'fielding_name', 'img_url', 'dob',
       'batting_style', 'bowling_style'],
      dtype='object')

In [21]:
players.dtypes

name             object
batting_name     object
fielding_name    object
img_url          object
dob              object
batting_style    object
bowling_style    object
dtype: object

In [22]:
cols = ['name', 'batting_name', 'fielding_name', 'img_url', 'batting_style', 'bowling_style']
players[cols] = players[cols].astype(str)

In [23]:
players.dtypes

name             object
batting_name     object
fielding_name    object
img_url          object
dob              object
batting_style    object
bowling_style    object
dtype: object

In [24]:
type(players.loc[0, 'dob'])  # should be datetime.date

datetime.date

In [25]:
players.to_csv('cleaned_players.csv', index=False)

1. Drop match_number
2. map team1 and team2
3. macth_date -> convert to correct format
4. toss_winne r-> map to team id
5. result -> we have winner team name in winner column -> result can be used for match_outcome_enum
6. map player of the match
7. drop team1_players and team2 players

In [52]:
team_map = dict(zip(team['name'], team['team_id']))

matches['team1_id'] = matches['team1'].map(team_map)
matches['team2_id'] = matches['team2'].map(team_map)
matches['toss_winner_id'] = matches['toss_winner'].map(team_map)
matches['winner_id'] = matches['winner'].map(team_map)

KeyError: 'team_id'

In [ ]:
for col in ['team1_id', 'team2_id', 'toss_winner_id', 'winner_id']:
    print(f"{col} - missing:", matches[matches[col].isna()][['team1', 'team2', 'toss_winner', 'winner']].drop_duplicates())

In [53]:
team.columns

Index(['name', 'logo_url'], dtype='object')