In [24]:
import pandas as pd

1. Drop match_number
2. map team1 and team2
3. macth_date -> convert to correct format
4. toss_winne r-> map to team id
5. result -> we have winner team name in winner column -> result can be used for match_outcome_enum
6. map player of the match
7. drop team1_players and team2 players

In [ ]:
import psycopg2

conn = psycopg2.connect(
    dbname="ipl_dashboard",
    user="ipl_user",
    password="ipl_user_12246",  
    host="localhost",
    port="5432"
)

we have to alter players table first

In [35]:
players_csv = pd.read_csv("../../data/2024_players_details.csv");

In [36]:
display_map = dict(zip(players_csv['longName'], players_csv['Name']))

In [37]:
cursor = conn.cursor()

In [ ]:
cursor.execute("SELECT player_id, name FROM Players;")
rows = cursor.fetchall()

:

In [ ]:
for player_id, name in rows:
    display_name = display_map.get(name)
    if display_name:
        cursor.execute(
            "UPDATE Players SET display_name = %s WHERE player_id = %s;",
            (display_name, player_id)
        )

# Commit the changes
conn.commit()

# Cleanup
cursor.close()
print("✅ Display names updated successfully.")

✅ Display names updated successfully.

:

In [38]:
players_db = pd.read_sql("SELECT * FROM Players;", conn)

C:\Users\hp\AppData\Local\Temp\ipykernel_9312\1490743441.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  players_db = pd.read_sql("SELECT * FROM Players;", conn)

In [39]:
players_db.head()

,player_id,name,fielding_name,batting_name,dob,img_url,batting_style,bowling_style,display_name
0,1,Ruturaj Gaikwad,Gaikwad,RD Gaikwad,1997-01-31,"https://img1.hscicdn.com/image/upload/f_auto,t...",right-hand bat,right-arm offbreak,RD Gaikwad
1,2,Moeen Ali,Ali,MM Ali,1987-06-18,"https://img1.hscicdn.com/image/upload/f_auto,t...",left-hand bat,right-arm offbreak,MM Ali
2,3,Aravelly Avanish,Aravelly Avanish,Aravelly Avanish,2005-06-02,"https://img1.hscicdn.com/image/upload/f_auto,t...",left-hand bat,Na,Aravelly Avanish
3,4,Deepak Chahar,Chahar,DL Chahar,1992-08-07,"https://img1.hscicdn.com/image/upload/f_auto,t...",right-hand bat,right-arm medium,DL Chahar
4,5,Tushar Deshpande,Deshpande,TU Deshpande,1995-05-15,"https://img1.hscicdn.com/image/upload/f_auto,t...",left-hand bat,right-arm medium,TU Deshpande